/* importing google fonts */
@import url('https://fonts.googlapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: offscreenBuffering;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
 text-align: center;
}

h1 {
 padding: 20px 0;
 margin: auto;
 font-size: 42px;
 text-align: center;
}

.container {
    margin: auto;
    font-size: 28px;
    text-align: center;
}

.start_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

/* start quiz button styling */
.start_btn button{
    font-size: 25px;
}

.btn:hover {
    box-shadow: 0 2px var(--grey);-
}