header {
 text-align: center;
}

h1 {
 padding: 20px 0;
 margin: auto;
 font-size: 42px;
 text-align: center;
}

.container {
    margin: auto;
    font-size: 28px;
    text-align: center;
}

.btn {
    align-items: center;
}